@charset "utf-8";

// ---------------------------------
// FONTS
// ---------------------------------
// Import Webfonts like
// @import url(https://fonts.googleapis.com/css?family=Kalam);

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

// ---------------------------------
// SPACING
// ---------------------------------
$content-width:    1000px;
$spacing-unit:     1rem;

// ---------------------------------
// COLORS
// ---------------------------------
$text-color:       black;
$background-color: white;
// this is mostly your "brand color"
$primary-color:  #FF0064;
$secondary-color:  #FF0064;

// ---------------------------------
// MEDIA QUERIES
// ---------------------------------
// Width of the content area
$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}

// ---------------------------------
// IMPORTS
// ---------------------------------

// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "styles"
;